<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199635283277-brkmbk0n0oo00aeu764k9t66medkmr3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199635283277-brkmbk0n0oo00aeu764k9t66medkmr3h</string>
	<key>API_KEY</key>
	<string>AIzaSyB20FosX_LwWxQB0K2WdakTMkoth9ivVcI</string>
	<key>GCM_SENDER_ID</key>
	<string>199635283277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dante-staff</string>
	<key>PROJECT_ID</key>
	<string>dante-app-d6cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>dante-app-d6cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199635283277:ios:9d55cc03907da325</string>
	<key>DATABASE_URL</key>
	<string>https://dante-app-d6cc5.firebaseio.com</string>
</dict>
</plist>